*.o
*~
*.a
.depend
autom4te.cache
config.h
config.log
config.status
setup
setup.gtk
setup.gtk2
setup.gtk3
xsu
loki_uninstall
uninstall
unrar/unrar
dialog/dialog-main
ABOUT-NLS
ChangeLog
config.rpath
po/Makefile.in.in
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/quot.sed
po/remove-potcdate.sin
po/insert-header.sin

